#parse("header.html")

<div class="content-wrapper container">

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>User Account</h3>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-center align-items-center flex-column">
                                <div class="avatar avatar-2xl">
                                    <img src="$item.avatar" alt="Avatar">
                                </div>

                                <h3 class="mt-3">$item.name</h3>
                                <p class="text-small">
                                    #if ($item.role == 1)
                                    <span class="badge bg-primary">Admin</span>
                                    #elseif ($item.role == 0)
                                    <span class="badge bg-secondary">Member</span>
                                    #else
                                    <span class="badge bg-danger">Suspended</span>
                                    #end
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <form action="/user/details?account=$item.account" method="post">
                                <div class="form-group">
                                    <label for="account" class="form-label">Account</label>
                                    <input type="text" name="account" id="account" class="form-control"
                                           placeholder="Account" value="$item.account" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" name="name" id="name" class="form-control"
                                           placeholder="Your Name" value="$item.name" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="avatar" class="form-label">Avatar</label>
                                    <input type="text" name="avatar" id="avatar"
                                           class="form-control" placeholder="Avatar Url"
                                           value="$item.avatar" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="role" class="form-label">Role</label>
                                    <select name="role" id="role" class="form-control">
                                        <option value="1">Admin</option>
                                        <option value="0">Member</option>
                                        <option value="-1">Suspended</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Save Changes
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

<script>
    document.getElementById("role").value = "$item.role";
</script>

#parse("footer.html")